<main>
  <header>
  </header>

  <h1>Easy peasy basics</h1>
  <p>Type some text in this box</p>
  <input type="text" ng-model="lalala"/> </br>
  </br>
  <p>And it will magically appear right here: <strong>{{lalala}}</strong></p>
  <br>
  <h2>In this case, please do repeat yourself!</h2>
  <p>List of my pets</p>
  <ul>
    <li ng-repeat="pet in $ctrl.pets">
      {{pet.name}}
    </li>
  </ul>
  <br>
  <h2>Did something change by any chance?</h2>
  <p>How often do you click and unclick this little checkbox? Let's count!</p>
  <input type="checkbox" ng-model="countIt" ng-change="count=count + 1" />
  <p>Count: {{count}}</p>
